* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

body {
  background-color: red;
  color: white;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 5%;
}
.title {
  margin-bottom: 40px;
  font-size: 22px;
}

.inputFieldQuestion {
  width: 280px;
  height: 50px;
  border: none;
  padding: 5px;
}

.inputFieldAnswer {
  width: 200px;
  height: 50px;
  border: none;
  padding: 5px;
  border-radius: 0;
}

.button {
  width: 200px;
  height: 50px;
  margin: 10px;
  border: none;
  background-color: white;
  color: red;
  font-size: 20px;
  margin-bottom: 10px;
  cursor: pointer;
}

.buttonAdd {
  width: 80px;
  height: 50px;
  border: none;
  background-color: white;
  color: red;
  font-size: 30px;
  cursor: pointer;
}

.questionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
}

.answer {
  color: black;
  font-size: 80px;
  font-weight: bold;
}

.answersForm {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-bottom: 30px;
  margin-top: 30px;
}

.possibleAnswer,
.questionForm {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

@media (min-width: 768px) {
  .title {
    font-size: 28px;
  }

  .inputFieldQuestion {
    width: 600px;
  }

  .inputFieldAnswer {
    width: 520px;
  }
}
