* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

body {
  background-color: red;
  color: white;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 5%;
}
.title {
  margin-bottom: 60px;
  font-size: 25px;
}

.inputField {
  width: 70vw;
  height: 50px;
  border: none;
  padding: 5px;
  margin-bottom: 30px;
}

.button {
  width: 200px;
  height: 50px;
  margin: 10px;
  border: none;
  background-color: white;
  color: red;
  font-size: 30px;
  margin-bottom: 50px;
  cursor: pointer;
}

.questionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 10px;
}

.answer {
  color: black;
  font-size: 100px;
  font-weight: bold;
}

@media (min-width: 768px) {
  .title {
    font-size: 30px;
  }
  .inputField {
    width: 50vw;
  }
}
